<nav class="navbar">
  <div class="menu">
    <a href="/" class="menu-item" data-lang="et">Avaleht</a>
    <a href="/teenused.html" class="menu-item" data-lang="et">Teenused</a>
    <!-- Language switcher -->
    <div class="language-switcher">
      <button class="lang-link" data-lang-switch>ET</button>
      <button class="lang-link" data-lang-switch>EN</button>
    </div>
  </div>
</nav> 



<nav class="nav">
  <div class="nav__logo">
    <a href="index.html">
      <img src="img/alexela_logo.svg" alt="Alexela logo" />
    </a>
  </div>
  <div class="nav__subcontainer">
    <div class="language">
      <select name="language" id="language" class="language__select">
        <option value="et" class="lang-link" data-lang-switch>ET</option>
        <option value="en" class="lang-link" data-lang-switch>EN</option>
      </select>
    </div>
    <button class="menu-toggle" aria-label="Toggle menu">
      <div class="menu-toggle__icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
  </div>
  <div class="menu__container">
    <div class="menu">
      <div class="menu__section">
        <a href="ettevottest.html" class="menu__button" data-lang="et">
          <span class="menu__icon">
            <img src="img/icons/1.svg" alt="1" />
          </span>
          Ettevõttest
        </a>
      </div>

      <div class="menu__section">
        <a href="jatkusuutlikkus.html" class="menu__button" data-lang="et">
          <span class="menu__icon">
            <img src="img/icons/2.svg" alt="2" />
          </span>
          Jätkusuutlikkus
        </a>
      </div>

      <div class="menu__section">
        <a href="majandustulemused.html" class="menu__button" data-lang="et">
          <span class="menu__icon">
            <img src="img/icons/3.svg" alt="3" />
          </span>
          Majandustulemused
        </a>
      </div>

      <div class="menu__section">
        <a href="raamatupidamine.html" class="menu__button" data-lang="et">
          <span class="menu__icon">
            <img src="img/icons/4.svg" alt="4" />
          </span>
          Raamatupidamise aastaaruanne
        </a>
      </div>

      <div class="menu__section">
        <a href="pdf.html" class="menu__button" data-lang="et">
          <span class="menu__icon">
            <img src="img/icons/5.svg" alt="5" />
          </span>
          Vaata PDF aruannet
        </a>
      </div>
    </div>
  </div>
</nav>